$primary: #0085D2;
$warning: #EE8208;
$danger: #FF5656;
$success: #32c5d2;

$input-border-radius: 0;
$input-border-radius-sm: 0;
$input-border-radius-lg: 0;
$component-active-bg: #36c6d3;

$form-select-border-radius: 0;

$btn-border-radius-sm: 5px;
$btn-padding-x-sm: 14px;

$btn-border-radius: 5px;
$btn-padding-x: 35px;

$btn-border-radius-lg: 5px;

//$btn-hover-bg-tint-amount: -20%;

$pagination-border-radius: 0;

@import "~bootstrap";
@import '~bootstrap-icons/font/bootstrap-icons.css';

@mixin button-variant(
  $background,
  $border,
  $color: color-contrast($background),
  $hover-background: shade-color($background, $btn-hover-bg-shade-amount),
  $hover-border: if($color == $color-contrast-light, shade-color($border, $btn-hover-border-shade-amount), tint-color($border, $btn-hover-border-tint-amount)),
  $hover-color: color-contrast($hover-background),
  $active-background: if($color == $color-contrast-light, shade-color($background, $btn-active-bg-shade-amount), tint-color($background, $btn-active-bg-tint-amount)),
  $active-border: if($color == $color-contrast-light, shade-color($border, $btn-active-border-shade-amount), tint-color($border, $btn-active-border-tint-amount)),
  $active-color: color-contrast($active-background),
  $disabled-background: $background,
  $disabled-border: $border,
  $disabled-color: color-contrast($disabled-background)
) {
  color: $color;
  @include gradient-bg($background);
  border-color: $border;
  @include box-shadow($btn-box-shadow);

  &:hover {
    color: $hover-color;
    @include gradient-bg($hover-background);
    border-color: $hover-border;
  }

  .btn-check:focus + &,
  &:focus {
    color: $hover-color;
    @include gradient-bg($hover-background);
    border-color: $hover-border;
    @if $enable-shadows {
      @include box-shadow($btn-box-shadow, 0 0 0 $btn-focus-width rgba(mix($color, $border, 15%), .5));
    } @else {
      // Avoid using mixin so we can pass custom focus shadow properly
      box-shadow: 0 0 0 $btn-focus-width rgba(mix($color, $border, 15%), .5);
    }
  }

  .btn-check:checked + &,
  .btn-check:active + &,
  &:active,
  &.active,
  .show > &.dropdown-toggle {
    color: $active-color;
    background-color: $active-background;
    // Remove CSS gradients if they're enabled
    background-image: if($enable-gradients, none, null);
    border-color: $active-border;

    &:focus {
      @if $enable-shadows {
        @include box-shadow($btn-active-box-shadow, 0 0 0 $btn-focus-width rgba(mix($color, $border, 15%), .5));
      } @else {
        // Avoid using mixin so we can pass custom focus shadow properly
        box-shadow: 0 0 0 $btn-focus-width rgba(mix($color, $border, 15%), .5);
      }
    }
  }

  &:disabled,
  &.disabled {
    color: $disabled-color;
    background-color: $disabled-background;
    // Remove CSS gradients if they're enabled
    background-image: if($enable-gradients, none, null);
    border-color: $disabled-border;
  }
}

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @include button-variant($value, $value);
  }
}

body {
  background: #F8F8F8;
}

header {
  height: 80px;
  background-color: #2b3643;

  .navbar-toggler {
    border-color: transparent !important;
    &:focus {
      box-shadow: unset !important;
    }
  }
}

.main-content {
  margin-left: 200px;

  @include media-breakpoint-down(md) {
    margin-left: 0;
  }
}

.sidebar {
  position: fixed;
  top: 80px;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
  background-color: #364150;
  width: 200px;
  overflow: auto;

  @include media-breakpoint-down(md) {
    width: 75%;

    &.collapsing {
      left: -75%;
      transition: height 0s ease;
    }

    &.show {
      left: 0;
      transition: left 300ms ease-in-out;
    }
  }

  @extend .d-md-block;
  @extend .collapse;

  .nav-link {
    margin-bottom: 13px;
    color: #b4bcc8;
    display: flex;
    align-items: center;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;

    &:hover{
      background-color: #2c3542;
    }

    &.active {
      background-color: #36c6d3;
      color: white;
    }

    .bi {
      font-size: 24px;
      margin-right: 8px;
    }
  }
}

.btn-primary, .btn-success, .btn-warning, .btn-danger {
  color: white !important;
}

.btn-outline-primary, .btn-outline-success, .btn-outline-warning, .btn-outline-danger {
  &:hover {
    color: white;
  }
}

.table {
  font-size: 14px;

  td {
    @extend .align-middle;
  }
}