$theme-colors: (
        "primary":    #0085D2,
        "warning":    #FC6608,
        "danger":     #FF0000,
        "success":    #32CB37,
);

$header-bg: map-get($theme-colors, 'primary');
$sidebar-bg: #2A405A;
$sidebar-bg-hover: #50657E;
$sidebar-bg-active: #151F2B;
$sidebar-bg-active-border: #0085d2;
$sidebar-nav-link-text-color: #B5DEFB;

$table-bg: #FFFFFF;
$table-hover-color: #979797;
$table-border-width: 0px;

$input-border-radius: 0;
$input-border-radius-sm: 0;
$input-border-radius-lg: 0;
$component-active-bg: #36c6d3;

$form-select-border-radius: 0;

$btn-border-radius-sm: 5px;
$btn-padding-x-sm: 14px;

$btn-border-radius: 5px;
$btn-padding-x: 35px;

$btn-border-radius-lg: 5px;

$pagination-border-radius: 0;
$pagination-bg: #00000080;
$pagination-active-bg: #00000080;
$pagination-border-width: 0;
$pagination-hover-bg: #00000080;
$pagination-disabled-bg: #00000080;
$pagination-disabled-color: #A2A2A2;
$pagination-color: #A2A2A2;
$pagination-hover-color: #FFFFFF;
$pagination-focus-bg: none;
$pagination-focus-color: none;
$pagination-focus-box-shadow: none;
$pagination-margin-start: 0;
$pagination-padding-y: 0.50em;

@import "~bootstrap";
@import '~bootstrap-icons/font/bootstrap-icons.css';

@mixin button-variant(
  $background,
  $border,
  $color: color-contrast($background),
  $hover-background: shade-color($background, $btn-hover-bg-shade-amount),
  $hover-border: if($color == $color-contrast-light, shade-color($border, $btn-hover-border-shade-amount), tint-color($border, $btn-hover-border-tint-amount)),
  $hover-color: color-contrast($hover-background),
  $active-background: if($color == $color-contrast-light, shade-color($background, $btn-active-bg-shade-amount), tint-color($background, $btn-active-bg-tint-amount)),
  $active-border: if($color == $color-contrast-light, shade-color($border, $btn-active-border-shade-amount), tint-color($border, $btn-active-border-tint-amount)),
  $active-color: color-contrast($active-background),
  $disabled-background: $background,
  $disabled-border: $border,
  $disabled-color: color-contrast($disabled-background)
) {
  color: $color;
  @include gradient-bg($background);
  border-color: $border;
  @include box-shadow($btn-box-shadow);

  &:hover {
    color: $hover-color;
    @include gradient-bg($hover-background);
    border-color: $hover-border;
  }

  .btn-check:focus + &,
  &:focus {
    color: $hover-color;
    @include gradient-bg($hover-background);
    border-color: $hover-border;
    @if $enable-shadows {
      @include box-shadow($btn-box-shadow, 0 0 0 $btn-focus-width rgba(mix($color, $border, 15%), .5));
    } @else {
      // Avoid using mixin so we can pass custom focus shadow properly
      box-shadow: 0 0 0 $btn-focus-width rgba(mix($color, $border, 15%), .5);
    }
  }

  .btn-check:checked + &,
  .btn-check:active + &,
  &:active,
  &.active,
  .show > &.dropdown-toggle {
    color: $active-color;
    background-color: $active-background;
    // Remove CSS gradients if they're enabled
    background-image: if($enable-gradients, none, null);
    border-color: $active-border;

    &:focus {
      @if $enable-shadows {
        @include box-shadow($btn-active-box-shadow, 0 0 0 $btn-focus-width rgba(mix($color, $border, 15%), .5));
      } @else {
        // Avoid using mixin so we can pass custom focus shadow properly
        box-shadow: 0 0 0 $btn-focus-width rgba(mix($color, $border, 15%), .5);
      }
    }
  }

  &:disabled,
  &.disabled {
    color: $disabled-color;
    background-color: $disabled-background;
    // Remove CSS gradients if they're enabled
    background-image: if($enable-gradients, none, null);
    border-color: $disabled-border;
  }
}

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @include button-variant($value, $value);
  }
}

body {
  background: #F8F8F8;
  font-family: "Open Sans";
}

header {
  height: 80px;
  background-color: $header-bg;

  .navbar-toggler {
    border-color: transparent !important;
    &:focus {
      box-shadow: unset !important;
    }
  }
}

.main-content {
  margin-left: 200px;

  @include media-breakpoint-down(md) {
    margin-left: 0;
  }
}

.sidebar {
  position: fixed;
  top: 80px;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
  background-color: $sidebar-bg;
  width: 200px;
  overflow: auto;

  @include media-breakpoint-down(md) {
    width: 75%;

    &.collapsing {
      left: -75%;
      transition: height 0s ease;
    }

    &.show {
      left: 0;
      transition: left 300ms ease-in-out;
    }
  }

  @extend .d-md-block;
  @extend .collapse;

  .nav-link {
    margin-bottom: 13px;
    color: $sidebar-nav-link-text-color;
    display: flex;
    align-items: center;

    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;

    &:hover{
      background-color: $sidebar-bg-hover;
    }

    &.active {
      background-color: $sidebar-bg-active;
      border-right: 6px solid $sidebar-bg-active-border;
    }

    .bi {
      font-size: 24px;
      margin-right: 8px;
    }
  }
}

.btn-primary, .btn-success, .btn-warning, .btn-danger {
  color: white !important;
}

.btn-outline-primary, .btn-outline-success, .btn-outline-warning, .btn-outline-danger {
  &:hover {
    color: white;
  }
}

a {
  text-decoration: none;
}

.table-bg {
  padding: 1rem;
  background: white;
  border-radius: 6px;
}

.table {
  margin-bottom: 0;
  font-size: 14px;

  td {
    @extend .align-middle;
  }

  th {
    padding-bottom: 0.75rem;
    color: map-get($theme-colors, 'primary');
    font-weight: normal;
  }

  tr td:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  tr td:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  tr th:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  tr th:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}

ul.pagination {
  li:first-child .page-link {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  li:last-child .page-link {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  li:not(:first-child):not(:last-child) .page-link:after {
    content: "";
    border-bottom: solid 0.1rem #A2A2A2;
    position: absolute;
    width: 100%;
    bottom: 11px;
    left: 0;
    right: 0;
  }

  li.active .page-link:before {
    content: "";
    border-bottom: solid 0.2rem;
    position: absolute;
    width: 20px;
    bottom: 9px;
    left: 50%;
    right: 0;
    margin-left: -10px;
    z-index: 1;
  }
}
